body {
  background: url("/img/alcatraz.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#overlay{
	background: #8d8d8d;
}

.navbar{
	height: 80px;
}

.navbar-brand{
	font-size: 50px;
}

.btn{
	background-color: green;
	color: white;
}